/*
font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Grenze Gotisch', cursive;
*/

:root {
	--soft-shell: #f6c95c;
	--hard-shell: #e7af00;
	--saucy: #c91919;
	--lettuce: #41a332;
	--meat: #983d00;
}

/* Global styling */
body {
	display: flex;
	flex-direction: column;
	background-color: var(--soft-shell);
	align-items: center;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Grenze Gotisch', cursive;
}

p {
	font-family: 'Bricolage Grotesque', sans-serif;
}

li {
	list-style: none;
	margin: 0 2em;
	max-height: 250px;
}

a {
	text-decoration: none;
	font-family: 'Bricolage Grotesque', sans-serif;
}

/* Header styling */

header {
	display: flex;
	flex-direction: column;
	width: 100%;
}

h1 {
	font-size: 5rem;
	color: var(--saucy);
	font-weight: 500;
	width: 100%;
	text-align: center;
	margin: 0.75em auto 0;
}

h2 {
	color: var(--meat);
	margin: 0;
	width: 100%;
	font-weight: 400;
	font-size: 2rem;
	text-align: center;
}

.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: var(--meat);
	padding: 1.25em 0;
	margin: 0;
}

.main-nav a {
	font-size: 1.15em;
	color: white;
}

/* Main styling */

main {
	margin: 2em 0;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 400px;
	width: 70vw;
	margin: 4em 15vw;
	margin-bottom: 6em;
}

.gallery h3 {
	font-size: 2.25rem;
	text-align: center;
	font-weight: normal;
	color: var(--lettuce);
}

.gallery p {
	text-align: center;
	font-size: 1.5rem;
	color: var(--meat);
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.make-tacos-cta {
	text-align: center;
	background-color: var(--lettuce);
	color: white;
	border: 0;
	border-radius: 15px;
	font-size: 1.5rem;
	width: 15em;
	margin: 0 auto;
	padding: 1em;
}

/* Footer styling */

footer {
	margin: 5em 0 0;
	width: 100%;
}

footer h2 {
	font-size: 1.5rem;
	margin-bottom: 0;
}
