.instruction {
	background-color: var(--hard-shell);
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;

	& h2 {
		font-size: 2.5rem;
		margin-bottom: 0.5em;
	}

	& img {
		border-radius: 0;
		width: 275px;
	}

	& .ingredients {
		width: calc(100% - 2em);
		padding: 1em;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 2em;
		background-color: white;

		& h3 {
			color: var(--lettuce);
			font-family: 'Bricolage Grotesque', sans-serif;
			font-weight: normal;
			text-decoration: underline;
			margin-bottom: 0;
		}

		& ul {
			padding-left: 0;
		}

		& li {
			margin: 0;
		}
	}
}
